.sx-button {
  display: inline-flex;
  line-height: var(--bde-button-line-height);
}

.sx-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  gap: 10px;
  font-size: var(--bde-button-font-size);
  transition: ease-in-out all;
  line-height: var(--bde-button-line-height);
}

.sx-btn .iconify,
.sx-btn svg {
  fill: inherit;
  width: 24px;
  height: 24px;
  transition: ease-in-out all 300ms;
}
